body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding-top: 60px;
}

h1 {
  color: #000000;
}

p {
  font-size: 18px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  background: #f9f9f9;
}

.bar {
  margin: 8px 0;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.fuel { width: 80%; background: #ff9800; }
.tolls { width: 40%; background: #9c27b0; }
.food { width: 50%; background: #4caf50; }
